.Rproj.user
.Rhistory
.RData

*.xlsx

*.doc
*.csv

.Rhistory

.Rproj.user/BBCF1FEA/build_options

.Rproj.user/BBCF1FEA/cpp-definition-cache

*.pper

.Rproj.user/BBCF1FEA/sdb/s-E75B6810/lock_file

.Rproj.user/BBCF1FEA/sdb/s-E75B6810/C30CCB65

.Rproj.user/BBCF1FEA/sdb/s-E75B6810/AF148D15

.Rproj.user/BBCF1FEA/sdb/s-E75B6810/A28BE1C7

.Rproj.user/BBCF1FEA/sdb/s-E75B6810/7FFDBA

.Rproj.user/BBCF1FEA/sdb/prop/INDEX

.Rproj.user/BBCF1FEA/sdb/prop/FD08DA06

.Rproj.user/BBCF1FEA/sdb/prop/ED42D17E

.Rproj.user/BBCF1FEA/sdb/prop/CB21A179

*.pper

*.pper

.Rproj.user/BBCF1FEA/pcs/files-pane.pper

.Rproj.user/BBCF1FEA/pcs/debug-breakpoints.pper

.Rproj.user/BBCF1FEA/pcs/source-pane.pper

.Rproj.user/BBCF1FEA/pcs/windowlayoutstate.pper

.Rproj.user/BBCF1FEA/pcs/workbench-pane.pper

.Rproj.user/BBCF1FEA/persistent-state

.Rproj.user/BBCF1FEA/saved_source_markers

.Rproj.user/BBCF1FEA/sdb/prop/1D475EFB

.Rproj.user/BBCF1FEA/sdb/prop/29C348F2

.Rproj.user/BBCF1FEA/sdb/prop/3E93FE75

.Rproj.user/BBCF1FEA/sdb/prop/728654DC

.Rproj.user/BBCF1FEA/sdb/prop/79D233CE

.Rproj.user/BBCF1FEA/sdb/prop/81170A02

.Rproj.user/BBCF1FEA/sdb/prop/96A9FC5E

.Rproj.user/BBCF1FEA/sdb/prop/AAFB5AD8

.Rproj.user/BBCF1FEA/sdb/prop/AC419465

.Rproj.user/BBCF1FEA/sdb/prop/C099C374
